{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-address.html.twig' %}

{% block page_checkout_confirm_address_billing_actions %}
    <div class="card-actions">
        {% set billingAddress = context.customer.activeBillingAddress %}

        <a href="{{ path('frontend.account.address.edit.page', {addressId: billingAddress.id}) }}"
           class="btn btn-light btn-sm"
           title="{{ 'checkout.confirmChangeBillingAddress'|trans|striptags }}">
            {{ "checkout.confirmChangeBillingAddress"|trans|sw_sanitize }}
        </a>
    </div>
{% endblock %}
