<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Account Type Settings</title>
        <title lang="de-DE">Kontotyp-Einstellungen</title>

        <input-field type="single-select">
            <name>guestAccountType</name>
            <options>
                <option>
                    <id>user_choice</id>
                    <name>Let user choose</name>
                    <name lang="de-DE">Benutzer wählen lassen</name>
                </option>
                <option>
                    <id>always_private</id>
                    <name>Always Private</name>
                    <name lang="de-DE">Immer Privat</name>
                </option>
                <option>
                    <id>always_business</id>
                    <name>Always Business</name>
                    <name lang="de-DE">Immer Gewerblich</name>
                </option>
            </options>
            <defaultValue>user_choice</defaultValue>
            <label>Guest Checkout Account Type</label>
            <label lang="de-DE">Gastbestellung - Kontotyp</label>
        </input-field>

        <input-field type="single-select">
            <name>registrationAccountType</name>
            <options>
                <option>
                    <id>user_choice</id>
                    <name>Let user choose</name>
                    <name lang="de-DE">Benutzer wählen lassen</name>
                </option>
                <option>
                    <id>always_private</id>
                    <name>Always Private</name>
                    <name lang="de-DE">Immer Privat</name>
                </option>
                <option>
                    <id>always_business</id>
                    <name>Always Business</name>
                    <name lang="de-DE">Immer Gewerblich</name>
                </option>
            </options>
            <defaultValue>always_business</defaultValue>
            <label>Registration Account Type</label>
            <label lang="de-DE">Registrierung - Kontotyp</label>
        </input-field>
    </card>

    <card>
        <title>Payment Restrictions for Guest Checkouts</title>
        <title lang="de-DE">Zahlungseinschraenkungen fuer Gastbestellungen</title>

        <component name="sw-entity-multi-id-select">
            <name>blockedPrivateGuestPayments</name>
            <entity>payment_method</entity>
            <label>Blocked payment methods for Private Guest Checkouts</label>
            <label lang="de-DE">Gesperrte Bezahlmethoden fuer private Gastbestellungen</label>
        </component>

        <component name="sw-entity-multi-id-select">
            <name>blockedBusinessGuestPayments</name>
            <entity>payment_method</entity>
            <label>Blocked payment methods for Business Guest Checkouts</label>
            <label lang="de-DE">Gesperrte Bezahlmethoden fuer gewerbliche Gastbestellungen</label>
        </component>
    </card>

    <card>
        <title>Address Book Settings</title>
        <title lang="de-DE">Adressbuch Einstellungen</title>

        <input-field type="text">
            <name>addressDropdownIcon</name>
            <defaultValue>paper-pencil</defaultValue>
            <label>Address Dropdown Icon</label>
            <label lang="de-DE">Adress-Dropdown Icon</label>
            <helpText>Icon name for the address options dropdown button (e.g. more-vertical, paper-pencil).</helpText>
            <helpText lang="de-DE">Icon-Name für den Adress-Optionen Dropdown-Button (z.B. more-vertical, paper-pencil).</helpText>
        </input-field>
    </card>

    <card>
        <title>Company Name Validation</title>
        <title lang="de-DE">Firmenname Validierung</title>

        <input-field type="single-select">
            <name>companyValidationBilling</name>
            <options>
                <option>
                    <id>core</id>
                    <name>Shopware Default</name>
                    <name lang="de-DE">Shopware Standard</name>
                </option>
                <option>
                    <id>required</id>
                    <name>Mandatory (Business)</name>
                    <name lang="de-DE">Pflichtfeld (Gewerblich)</name>
                </option>
                <option>
                    <id>optional</id>
                    <name>Optional</name>
                    <name lang="de-DE">Optional</name>
                </option>
            </options>
            <defaultValue>core</defaultValue>
            <label>Billing Address Company Name</label>
            <label lang="de-DE">Rechnungsadresse Firmenname</label>
        </input-field>

        <input-field type="single-select">
            <name>companyValidationShipping</name>
            <options>
                <option>
                    <id>core</id>
                    <name>Shopware Default</name>
                    <name lang="de-DE">Shopware Standard</name>
                </option>
                <option>
                    <id>required</id>
                    <name>Mandatory (Business)</name>
                    <name lang="de-DE">Pflichtfeld (Gewerblich)</name>
                </option>
                <option>
                    <id>optional</id>
                    <name>Optional</name>
                    <name lang="de-DE">Optional</name>
                </option>
            </options>
            <defaultValue>optional</defaultValue>
            <label>Shipping Address Company Name</label>
            <label lang="de-DE">Lieferadresse Firmenname</label>
        </input-field>
    </card>
</config>
