<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Basic Configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>
        
        <input-field>
            <name>example</name>
            <label>Example Configuration</label>
            <label lang="de-DE">Beispiel Konfiguration</label>
        </input-field>
    </card>

    <card>
        <title>Payment Restrictions for Guest Checkouts</title>
        <title lang="de-DE">Zahlungseinschraenkungen fuer Gastbestellungen</title>

        <component name="sw-entity-multi-id-select">
            <name>blockedPrivateGuestPayments</name>
            <entity>payment_method</entity>
            <label>Blocked payment methods for Private Guest Checkouts</label>
            <label lang="de-DE">Gesperrte Bezahlmethoden fuer private Gastbestellungen</label>
        </component>

        <component name="sw-entity-multi-id-select">
            <name>blockedBusinessGuestPayments</name>
            <entity>payment_method</entity>
            <label>Blocked payment methods for Business Guest Checkouts</label>
            <label lang="de-DE">Gesperrte Bezahlmethoden fuer gewerbliche Gastbestellungen</label>
        </component>
    </card>
</config>