{% sw_extends '@Storefront/storefront/page/account/addressbook/address-manager.html.twig' %}

{% block address_base_list_title %}
    <h2 class="mt-4">
        {{ "better-checkout.account.addressesAvailable"|trans|sw_sanitize }}
    </h2>
{% endblock %}
